apiVersion: v1
kind: Service
metadata:
  name: kkambbaki-alpha-flower-svc
  namespace: kkambbaki-alpha
spec:
  type: LoadBalancer
  ports:
  - port: 5555
    targetPort: 5555
  selector:
    app: kkambbaki-alpha-flower
