apiVersion: apps/v1
kind: Deployment
metadata:
  name: kkambbaki-alpha-celery-beat
  namespace: kkambbaki-alpha
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kkambbaki-alpha-celery-beat
  template:
    metadata:
      labels:
        app: kkambbaki-alpha-celery-beat
    spec:
      imagePullSecrets:
      - name: dockerhub-secret
      containers:
      - name: kkambbaki-alpha-celery-beat
        imagePullPolicy: Always
        image: shinkeonkim/kkambbaki_api:alpha
        command: [ "celery", "-A", "config", "beat", "-l", "INFO", "--scheduler", "django_celery_beat.schedulers:DatabaseScheduler" ]
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        envFrom:
        - configMapRef:
            name: kkambbaki-alpha-config
        - secretRef:
            name: kkambbaki-alpha-postgres-secret
        - secretRef:
            name: kkambbaki-alpha-webapp-secret
        volumeMounts:
        - name: static-files
          mountPath: /app/webapp/staticfiles
        - name: media-files
          mountPath: /app/webapp/media
      volumes:
      - name: static-files
        persistentVolumeClaim:
          claimName: kkambbaki-alpha-static-pvc
      - name: media-files
        persistentVolumeClaim:
          claimName: kkambbaki-alpha-media-pvc
