apiVersion: v1
kind: Service
metadata:
  name: kkambbaki-alpha-redis
  namespace: kkambbaki-alpha
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
  selector:
    app: kkambbaki-alpha-redis
