apiVersion: v1
kind: Service
metadata:
  name: kkambbaki-alpha-postgres
  namespace: kkambbaki-alpha
spec:
  type: LoadBalancer
  ports:
  - port: 5432
    targetPort: 5432
  selector:
    app: kkambbaki-alpha-postgres
