apiVersion: apps/v1
kind: Deployment
metadata:
  name: kkambbaki-alpha-webapp
  namespace: kkambbaki-alpha
  annotations:
    argocd-image-updater.argoproj.io/image-list: "shinkeonkim/kkambbaki_api:alpha"
spec:
  replicas: 4
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: kkambbaki-alpha-webapp
  template:
    metadata:
      labels:
        app: kkambbaki-alpha-webapp
    spec:
      imagePullSecrets:
      - name: dockerhub-secret
      dnsPolicy: ClusterFirst
      containers:
      - name: kkambbaki-alpha-webapp
        imagePullPolicy: Always
        image: shinkeonkim/kkambbaki_api:alpha
        command: [ "/app/entrypoint.sh" ]
        args: [ "uv", "run", "uvicorn", "config.asgi:application", "--host", "0.0.0.0", "--port", "8080" ]
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        envFrom:
        - configMapRef:
            name: kkambbaki-alpha-config
        - secretRef:
            name: kkambbaki-alpha-postgres-secret
        - secretRef:
            name: kkambbaki-alpha-webapp-secret
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: static-files
          mountPath: /app/webapp/staticfiles
        - name: media-files
          mountPath: /app/webapp/media
      volumes:
      - name: static-files
        persistentVolumeClaim:
          claimName: kkambbaki-alpha-static-pvc
      - name: media-files
        persistentVolumeClaim:
          claimName: kkambbaki-alpha-media-pvc
